.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #4568DC;  /* fallback for old browsers *//* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.details{
display: flex;
width: 50%;
border-radius: 20px;
padding: 5px;
margin: 5px auto;
}
.banner{
    flex: 1;
    background:url('../../assets/loginbanner.gif') center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: black;
}
.banner .span{
    font-size: 14px;
}
.banner button{
    cursor: pointer;
}
.title{
    color: linear-gradient(to right, #B06AB3, #4568DC);
}
.content{
    font-weight: bolder;
    font-size: 20px;
    color: black;
}
.maincontent{
    background-color: white;
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    gap:30px;
}
input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
}
button:hover{
background-color: teal;
}