.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
  }
  
  .header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }
  
  .header-link:hover {
    color: #d92013;
  }
  
  @media (max-width: 768px) {
    .header-container {
      justify-content: center;
    }
  }
  
  