.post{
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
}

.post .container{
padding: 20px;

}
.post .container .user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post .container .user .userInfo{
display: flex;
gap: 20px;
}
.post .container .user .userInfo img{
width: 40px;
height: 40px;
border-radius: 50%;
object-fit: cover;
}

.post .container .user .userInfo .details{
display: flex;
flex-direction: column;
}
.userInfo .name{
font-weight: 500;
}
.userInfo .date{
    font-size: 12px;
}
.container .content{
margin: 20px 0px;
}
.container .content img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-top: 20px;
}
.container .info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.info .item{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
}
.user .btn{
 display: flex;
 margin: 10px auto;
 cursor: pointer;
}
.user .btn:hover{
    background-color: red;
}